.register-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.register-image{
    flex: 1;
    background-image: url(https://i.pinimg.com/1200x/36/19/5c/36195cfd3da8f4c120497f9dfc7f3638.jpg);
    background-size: cover;
    background-position: center;
}
.refister-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.register-form {
  width: 420px;
  background: #ffffff;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(196, 154, 154, 0.1);

  border: 1px solid burlywood;

  opacity: 0.9;
}

.register-form h2 {
  text-align: center;
  margin-bottom: 15px;
}

.role-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.role-toggle button {
  flex: 1;
  margin: 0 4px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background: #e5e7eb;
  cursor: pointer;
  font-weight: bold;
}

.role-toggle button.active {
  background: #703617;
  color: white;
}

.register-form input,
.register-form select,
.register-form textarea {
  width: 100%;
  padding: 9px;
  margin-bottom: 10px;
  border: 1px solid #cbd5f5;
  border-radius: 6px;
  font-family: inherit;
}

.file-upload {
  margin-bottom: 10px;
}

.file-upload label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.file-upload input[type="file"] {
  padding: 5px;
}

.note {
  font-size: 12px;
  color: #666;
  text-align: center;
  margin: 10px 0;
}

.note a {
  color: #703617;
  text-decoration: none;
  font-weight: bold;
}

.note a:hover {
  text-decoration: underline;
}

.register-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background:#703617;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

.button-group button {
  flex: 1;
  padding: 10px;
  background:#703617;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.register-form button:hover {
  background: #703617;
}